extends ../base/base.pug

block content
  +process('Thông tin người dùng', 2)
  section.info-person.padding-top-50px
    .container
      form.custom__form.mb-5
        .row  
          .col-7
            h4 Thông tin cá nhân#{'\x3A'}
            .form-row
              .form-group.col-12.row.align-items-center
                label.col-3.mb-0(for='name') 
                  | Họ và tên#{'\x3A'}
                  span #{'\x2A'}
                input#name.col-9.form-control(type='text')
                span.col-9.offset-3.pl-0.mt-2.text-danger.d-none *Có lỗi xảy ra
              .form-group.col-12.row.align-items-center
                label.col-3.mb-0(for='email') 
                  | Email#{'\x3A'}
                  span #{'\x2A'}
                input#email.col-9.form-control(type='email')
                span.col-9.offset-3.pl-0.mt-2.text-danger.d-none *Có lỗi xảy ra
              .form-group.col-12.row.align-items-center
                label.col-3.mb-0(for='phone') 
                  | Số điện thoại#{'\x3A'}
                  span #{'\x2A'}
                input#phone.col-9.form-control(type='text')
                span.col-9.offset-3.pl-0.mt-2.text-danger.d-none *Có lỗi xảy ra
              .form-group.col-12.row.align-items-center
                label.col-3.mb-0(for='address') 
                  | Địa chỉ#{'\x3A'}
                  span #{'\x2A'}
                input#address.col-9.form-control(type='text')
                span.col-9.offset-3.pl-0.mt-2.text-danger.d-none *Có lỗi xảy ra
              .form-group.col-12.row.align-items-center
                label.col-3.mb-0(for='note') 
                  | Ghi chú#{'\x3A'}
                  span #{'\x2A'}
                textarea#note.col-9.form-control(name="note", cols="30", rows="5") 
          .col-5
            h4 Chọn phương thức thanh toán#{'\x3A'}
            .form-check
              input#exampleRadios1.form-check-input(type='radio', name='payMethod', value='Tiền mặt', checked='')
              label.form-check-label.font-size-14px(for='exampleRadios1')
                | Thanh toán bằng tiền mặt
            .form-check
              input#exampleRadios2.form-check-input(type='radio', name='payMethod', value='Thẻ ngân hàng')
              label.form-check-label.font-size-14px(for='exampleRadios2')
                | Thanh toán bằng thẻ ngân hàng
            .form-check
              input#exampleRadios3.form-check-input(type='radio', name='payMethod', value='Ví điện tử')
              label.form-check-label.font-size-14px(for='exampleRadios3')
                | Thanh toán bằng ví điện tử
        .row
          .col.d-flex.justify-content-end.mb-50px
            a.btn.btn-dark.rounded-0.text-uppercase.mr-2(href="/shopping-cart.html") Quay lại
            button#btn-submit.btn.btn-yellow.rounded-0.text-uppercase Thanh toán

block script
  script(src="./assets/js/info-person.js") 